apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: k8s-deployment-manager-worker:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: app_env
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
