apiVersion: apps/v1
kind: Deployment
metadata:
  name: watcher
  labels:
    app: watcher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: watcher
  template:
    metadata:
      labels:
        app: watcher
    spec:
      serviceAccountName: watcher
      containers:
        - name: watcher
          image: k8s-deployment-manager-watcher:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: watcher-config
                  key: app_env
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
