apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nats-jetstream-data
  labels:
    app: nats
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # storageClassName: standard  # uncomment for your cluster if needed
